.Layout {
    margin-top: 12px;
    padding: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    .PaginationContainer {
        display: flex;
        margin-bottom: 12px;
        justify-content: space-between;
        align-items: center;
    }
}