.normal {
    color: black;
}
.fighting {
    color: orange;
}
.flying {
    color: skyblue;
}
.poison {
    color: darkolivegreen;
}
.ground {
    color: darkorange;
}
.rock {
    color: maroon;
}
.bug {
    color: darkturquoise;
}
.ghost {
    color: lightslategray;
}
.steel {
    color: steelblue;
}
.fire {
    color: red;
}
.water {
    color: blue;
}
.grass {
    color: green;
}
.electric {
    color: rgb(145, 153, 229);
}
.psychic {
    color: yellow;
}
.ice {
    color: lightblue;
}
.dragon {
    color: brown;
}
.dark {
    color: black;
    font-weight: bold;
}
.fairy {
    color: silver;
}
.unknown {
    color: grey;
}
.shadow {
    color: rgb(32, 32, 31);
}